@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
/*font-family: 'Forum', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* font-family: 'Press Start 2P', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Unbounded:wght@200..900&display=swap');
/* font-family: 'Unbounded', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Doodle+Shadow&family=Unbounded:wght@200..900&display=swap');
/*  font-family: 'Rubik Doodle Shadow', sans-serif; */

:root {
    --primary-color: #eaeaea;
    --secondary-color: #222;
    --blue-color: deepskyblue;
    --pink-color: #e84393;
    --purple-color: #9c31c0;
    --white-color: #ffffff;
    --text-black: #000;
    --gradient: linear-gradient(to right, var(--blue-color), var(--pink-color));
    --wave-back: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unbounded', sans-serif;
}

.dark-mode {
    --primary-color: #222;
    --secondary-color: #eaeaea;
    --text-black: #eaeaea;
    --white-color:rgba(75, 75, 75, 0.8);
    --wave-back: rgb(255, 255, 255);
}

body {
    background: var(--primary-color);  
}

/* ------------------------------------ *\
|*  - - -  H E A D E R   L O G O - - -  *|
\* ------------------------------------ */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    color: #eaeaea;
    background-color: #222;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
}

.logo {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 20px;
    color: #eaeaea;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 15px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: 0.3s;
    opacity: 0;
    color:#eaeaea;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: var(--pink-color);
}

.social-media {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    text-decoration: none;
    border: 2px solid transparent;
    transform: rotate(45deg);
    transition: 0.5s;
    opacity: 0;
    animation: slideSci .5s ease forwards;
    animation-delay: calc(0.2s * var(--i));
}

.social-media a:hover {
    border-color: var(--blue-color);
    border-radius: 50%;
}

.social-media a i{
    font-size: 24px;
    color: var(--blue-color);
    transform: rotate(-45deg);
}

.social-media .moon {
    cursor: pointer;
    border: 2px solid transparent;
    transform: rotate(45deg);
    transition: 0.5s;
}

.social-media .moon:hover {
    border-color: goldenrod;
}

.social-media .moon .bxs-moon {
    color: goldenrod;
}

/* -------------------------------- *\
|*  - - -  A N I M A T I O N - - -  *|
\* -------------------------------- */


@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideRightCorner {
    0% {
        transform: translateZ(100px) ;
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes slideSci {
    0% {
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(45deg);
        opacity: 1;
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes image {
    0% {
        transform: translate(300px, -300px) scale(0) rotate(-45deg);
        opacity: 0;
    }
    100% {
        transform: translate(0, -0) scale(1) rotate(-45deg);
        opacity: 1;
    }
}